h1{
    color: green;
    text-align: center;margin-top: 0px;
}
img{
    margin-top: 40px;
}
h2{
    color: blueviolet;
    text-align: center;
}
p{
    text-align: center;
    color:rgb(67, 13, 117);font-size: 35px;
}